<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="#" method="post">
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input type="text" name="title" class="form-control" id="inputTitle" placeholder="Enter Title">
    </div>
    <div class="form-group">
      <label for="inputContent">Post</label>
      <textarea name="content" id="inputContent" class="form-control" rows="7" style="resize: none;"></textarea>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
<%- include("partials/footer") -%>